.rating {
    padding: 0;
    margin: 0;
    display: inline-block;

    .wrapper {
        margin-right: 5px;
    }

    .wrapper:nth-last-of-type(1) {
        margin-right: 0;   
    }

    span {
        cursor: pointer;
    }
}

.fill {
    fill: var(--primary);
}